<div class="row"><div class="col-xs-12">&nbsp;</div></div>
<div class="page-header">
  <div class="row">
    <div class="col-xs-12">
   
      <img class="img-responsive" src="/assets/logos/icit2016-bhubaneswar3.png" alt="icit-logo" />
      <div class="photo-credit">
        Photograph: <a title="Original on WikiMedia" href="https://commons.wikimedia.org/wiki/File:Bhubaneswar,_India,_ca._1906_(IMP-CSCNWW33-OS14-56).jpg">Bhubaneswar, India, ca. 1906</a> by <a title="Author" href="">Unknown</a>
      </div>
    </div>
  </div>
</div>
